body {
    background-color: #c3c3c3;
    color: #000;
    display: block;
    background-image: url(../images/google.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}
button {
    margin: 0 auto;
    width: 100%;
}